body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol,
ul {
  margin-bottom: 30px;
  padding-left: 60px;
  font-size: 16px;
  font-family: monospace;
  font-style: italic;
}

.classX {
  color: #dc7d18;
}

.classO {
  color: #ff1b78;
}
.board {
  width: 102px;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid#666;
}

.square {
  background: inherit;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}
.game {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.game-board {
  width: 312px;
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.big {
  width: 101px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 110px;
  position: absolute;
  color: #f3f1f0;
  opacity: 0.8;
  font-family: Arial, sans-serif;
  background: rgba(400, 54, 54, 0.5);
  cursor: default;
}
.big:hover {
  opacity: 0;
}
.button {
  width: 120px;
  height: 30px;
  margin-left: 60px;
  border-radius: 10px;
  border-color: #0e0e1a;
  background-color: #23d3d3;
  cursor: pointer;
}
.board-focus {
  background-color: cornflowerblue;
}
